.button-yellow{
    color: #000000;
    font-family: "I_SB";
    font-size: $fontMain;

    background: $yellow;
    border-radius: 2.7rem;
    border: 0;


    padding: 1.8rem;

    &:hover{
        background: #FFF37B;

        transition: background .4s linear;
    }

    &--radius__smaller{
        border-radius: 21px;
        padding: 2rem 5.0rem;

        font-size: $fontTitleSmaller;
        color: $green;
    }

    &--white{
        color: #ffffff;
    }
}

.button-green{
    color: #ffffff;
    font-family: "I_M";
    font-size: $fontSmaller;

    background: $green;

    border-radius: 1.7rem;

    padding: 1.2rem;

    &:hover{
        color: #ffffff;

        background: $greenHover;

        transition: background .4s linear;
    }
}

.button-white{
    color: $green;
    font-family: "I_SB";
    font-size: $fontTitle;

    background: #ffffff;

    border-radius: 21px;

    padding: 1.2rem;

    &:hover{
        color: $green;

        background: #CDCDCD;

        transition: background .4s linear;
    }
}