.button{
    color: #ffffff;
    font-size: 1.6rem;

    padding: 1.2rem;

    border-radius: 1.7rem;
    
    &--brown{
        border: 0.3rem solid $brown;

        color: $brown;

        &:hover{
            background: $brown;
            color: $white;

            transition: background .4s linear;
        }
    }

    &--green{
        background: $green;
        font-size: 2rem;
    }
}