@font-face{
    font-family: "I_R";
    src: url("../fonts/Involve-Regular.woff") format("woff");
}

@font-face{
    font-family: "I_M";
    src: url("../fonts/Involve-Medium.woff") format("woff");
}

@font-face{
    font-family: "I_B";
    src: url("../fonts/Involve-Bold.woff") format("woff");
}

$fontMain: 1.6rem;
$fontMainTitle: 7.8rem;
$fontMainSubtitle: 4rem;
$fontTitle: 4.8rem;
$fontSubtitle: 3.2rem;
$fontCardInfo: 2rem;