@font-face{
    font-family: "I_R";
    src: url("../fonts/Involve-Regular.woff") format("woff");
}

@font-face{
    font-family: "I_M";
    src: url("../fonts/Involve-Medium.woff") format("woff");
}

@font-face{
    font-family: "I_B";
    src: url("../fonts/Involve-Bold.woff") format("woff");
}

$fontBigBoss: 9.6rem;
$fontMainTitle: 6.4rem;
$fontTitle: 3.6rem;
$fontTitleSmaller: 3.2rem;
$fontHighSmaller: 2.4rem;
$fontMain: 2rem;
$fontSmaller: 1.6rem;