/* Colors */
$white: #ffffff;
$black: #232536;
$orange: #FFD050;
$darkOrange: #EDC14A;
$purple: #592EA9;
$darkGray: #4C4C4C;
$lightGray: #6D6E76;
$transWhite: #F4F4F4;
$transPurple: #F4F0F8;
$transOrange: #FBF6EA;

/* Transition */
$transitionTime: .3s;

/* Height */
$header-height: 78px;