/* Colors */
$gold: #E4BD71;
$brown: #402E0C;
$green: #2C4410;
$greenHover: #20320B;
$yellow: #E4BD71;
$transGreen: rgba(44, 68, 16, .5);
$white: #ffffff;
$black: #000000;

/* Borders */
$borderRadius: 1.7rem;

// Header
$headerHeight: 9.4rem;