@import 'fonts';
@import 'vars';
@import 'buttons';
@import 'vendor/reset';

*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-size: $fontMain;
    line-height: 1.75;
    font-family: "I_B";
    color: $black
}

a{
    text-decoration: none;
}

@import 'blocks/header/cabinet.scss';
@import 'blocks/header/header.scss';
@import 'blocks/header/nav.scss';