@import 'fonts';
@import 'vars';
@import 'vendor/reset';

*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-size: 1.6rem;
    line-height: 1.75;
    font-family: "S_B";
    color: $white;
}

p { 
    font-size: 1.6rem;
}

@import 'blocks/text-style';
@import 'blocks/button';
@import 'blocks/social';
@import 'blocks/header';
@import 'blocks/container';
@import 'blocks/nav';
@import 'blocks/footer';
@import 'blocks/home';
@import 'blocks/intro';
@import 'blocks/blog';
@import 'blocks/span';














