@import 'fonts';
@import 'vars';
@import 'vendor/reset';

*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-size: 1.6rem;
    line-height: 1.75;
    font-family: "S_B";
    color: $white;
}

p { 
    font-size: 1.6rem;
}

/* Independent */
@import 'blocks/independent/button';
@import 'blocks/independent/social';
@import 'blocks/independent/header';
@import 'blocks/independent/container';
@import 'blocks/independent/nav';
@import 'blocks/independent/footer';
@import 'blocks/independent/span';

/* Home */
@import 'blocks/home/home';
@import 'blocks/home/home-intro';














