.cat-post__inner{
    display: flex;
    justify-content: space-between;
}

.cat-post__left{
    width: 75%;
}

.cat-post__img{
    display: block;
}

.cat-post__right{
    width: 23%;
}

.cat-post__right-item__inner{
    margin: 4rem 0;
}

.cat-post__right-item{
    display: flex;
    align-items: center;

    padding: 2.4rem;
    margin-bottom: 2.4rem;

    border: 1.5px solid #c1c1c3;

    transition: background $transitionTime linear;

    &:hover{
        background-color: $orange;
    }
}

.cat-post__right-item__icon{
    margin-right: 1.6rem;
}

.cat-post__right-tags__inner{
    margin-top: 0.8rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cat-post__right-tags__item{
    border-radius: 24px;
    border: 2px solid $lightGray;

    width: max-content;

    padding: 0 3.8rem;
    margin-top: 1.6rem;

    text-align: center;
}

.cat-post__right-tags__item-title{
    font-family: "S_B";
    font-size: 1.4rem;
    color: $black;
    line-height: 3.2;
}