.cat-intro{
    background-color: $transPurple;

    text-align: center;

    padding: 8rem 0;
}   

.cat-intro__text{
    margin: 1.6rem auto 3.2rem;

    max-width: 520px;
}

.cat-intro__type{
    font-family: "I_R";
    font-weight: 700;
    color: $black;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}