.display { 
    font-size: 5.6rem;
    font-family: "S_B";
    color: #000;

    &--color-white{
        color: #fff;
    }
}

h1{
    font-size: 4.8rem;
    font-family: "S_B";
    color: #000;
    line-height: 1.33;
}

h2{
    font-size: 3.6rem;
    letter-spacing: -2px;
    font-family: "S_B";
    color: #000;
    line-height: 1.33;
}

h3{
    font-size: 2.8rem;
    font-family: "S_B";
    color: #000;
    line-height: 1.29;
    letter-spacing: -1px;
}

h4{
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: "S_B";
    color: #000;
}

h5{
    font-size: 2.0rem;
    font-family: "S_B";
    color: #000;
}

h6{
    font-size: 1.6rem;
    font-family: "S_B";
    color: #000;
}
