.main-features{
    display: flex;
    justify-content: center;
}

.main-features__inner{
    max-width: 940px;
}

.main-features__item{
    display: flex;
    align-items: center;

    padding: 0 2rem;
    margin-bottom: 1rem;

    display: inline-block;

    font-size: $fontTitle;
    color: $green;
    font-family: 'I_M';

    border: 3px solid $green;
    border-radius: 42px;

    &--ml{
        margin-left: 14rem;
    }

    &--ml__last{
        margin-left: 43rem;
    }

    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
        background: $yellow;
        transition: background .6s linear;
    }
}

.main-features__item-icon{
    margin: 0 0 0 7rem;
}

.main-features__item-line{
    &--ml{
        margin-left: 14rem;
    }
}