.btn {
    font-size: 1.8rem;
    font-family: "S_B";
    color: $black;
    text-decoration: none;
    
    background-color: $orange;
    border: 0;
    
    padding: 1.6rem 4.8rem;
    
    transition: background $transitionTime linear;
    
    &--white{
        background-color: $white;
    }
    
    &:hover{
        background-color: $darkOrange;
    }
}