.footer{
    background-color: $black;
    padding: 5.5rem 0;
}

.footer__top{
    display: flex;
    justify-content: space-between;
}

.footer__form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    background-color: rgba($white, .05);
    
    padding: 8rem 6.4rem;
    margin: 5rem 0;
}

.footer__form-left{
    h3 {
        color: $white;
    }
    
    width: 45%;
}

.footer__form-right{
}

.footer__input{
    background-color: transparent;
    
    font-size: 1.6rem;
    font-family: "SenR";
    border: 1px solid $darkGray;
    text-transform: capitalize;
    color: $white;
    
    padding: 1.7rem 0 1.6rem 2.5rem;
    margin-right: 1.5rem;
    
    width: 325px;
    
    &::placeholder{
        color: $white;
    }
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
















