.about-intro{
    margin: 6.5rem auto 0;

    max-width: 1150px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-intro__left{
    width: 53%;

    padding: 6.4rem;
    margin-right: 3.4rem;

    background-color: $white;
}

.about-intro__left-title{
    margin-top: 10px;
}

.about-intro__right{
    width: 44%;
}