.about__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-team__left{
    width: 40%;
}

.about__left-subtitle{
    margin: 5px 0 12px;
}

.about__left-text{
    font-family: "I_R";
    font-size: 1.6rem;
    color: $black;
}

.about__right{
    position: relative;

    width: 46%;
}

.about__img{
    display: block;
    width: 100%;
}

.about-team__shape{
    position: absolute;
    top: 50%;
    left: -51.5px;

    transform: translateY(-50%);
}

.about-why__shape{
    position: absolute;
    bottom: -37px;
    left: 10%;
}