.author-intro{
    background-color: $transPurple;

    padding: 12.8rem 0;
}

.author-container{
    max-width: 1010px;
    width: 100%;

    margin: 0 auto;;
}

.author-intro__inner{
    display: flex;
    align-items: center;
}

.author-intro__photo{
    margin-right: 3.2rem;
}

.author-intro__content-text{
    margin: 2rem 0;
}