<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <img src="assets/images/logo.png" alt="#">
            
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Home</a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="#">Blog</a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="#">About Us</a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="#">Contact us</a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="#">Privacy Policy</a>
                    </li>
                </ul>
            </nav>
        </div><!-- ./footer__top -->
        
        <form class="footer__form" action="/" method="post">
            <div class="footer__form-left">
                <h3>Subscribe to our news letter to get latest updates and news</h3>
            </div>
            
            <div class="footer__form-right">
                <input class="footer__input" type="email" placeholder="Enter your email">
                
                <button class="btn" type="submit">Subscribe</button>
            </div>           
        </form><!-- ./footer__form -->
        
        <div class="footer__bottom">
            <div class="footer__info">
                <div class="text text--trans">Finstreet 118 2561 Fintown</div>
                <div class="text text--trans">Hello@finsweet.com  020 7993 2905</div>
            </div>
            
            <div class="footer__social">
                <div class="social">
                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>

                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>

                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>

                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedln"></use>
                        </svg>
                    </a>
                </div>
            </div><!-- ./footer__social -->
        </div><!-- ./footer__bottom -->
    </div><!-- ./container -->
</footer>
