<div class="section">
    <footer class="footer">
            <div class="footer__inner">
                <div class="footer__col">
                    <div class="footer__col-logo">
                        logo
                    </div>

                    <div class="footer__col-copyright">
                        <p>© 2018—2021</p>
                        <p>ООО «Империя Туризма»</p>
                        <p>Все права защищены</p>
                        <br>
                        <p>ИНН: 7806552289</p>
                        <p>КПП: 780501001</p> 
                        <p>ОГРН: 1187847332771</p>
                    </div>
                </div> <!-- ./footer__col 1 -->

                <div class="footer__col">
                    <a href="#" class="footer__col-tour">Псков, Изборск, Печоры, Пушкинские горы</a>
                    <a href="#" class="footer__col-tour">Сортавала и Рускеала</a>
                    <a href="#" class="footer__col-tour">Приозерск и Ладожские шхеры</a>
                    <a href="#" class="footer__col-tour">Золотое Кольцо</a>
                    <a href="#" class="footer__col-tour">Кабардино-Балкария</a>
                </div> <!-- ./footer__col 2 -->

                <div class="footer__col">
                    <a href="#" class="footer__col-link">О компании</a>
                    <a href="#" class="footer__col-link">Контакты</a>
                    <a href="#" class="footer__col-link">Реквизиты</a>
                    <a href="#" class="footer__col-link">Лицензия</a>
                    <a href="#" class="footer__col-link">Правила</a>
                </div> <!-- ./footer__col 3 -->

                <div class="footer__col">
                    <div class="footer__col-top">
                        Cabinet
                    </div>

                    <div class="footer__col-bottom">
                        <div class="footer__col-bottom__license">
                            <p>Лицензия на перевозки</p>
                            <p>пассажиров № АК-78-000412 </p>
                            <p>от 23 июня 2019 г.</p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
</div>
