<header class="header">
    <div class="header-inner">
        <div class="logo">
            Tut budet logo
        </div>

        <nav class="nav">
                <a href="#" class="nav-link">Все туры</a>
                <a href="#" class="nav-link">Акции</a>
                <a href="#" class="nav-link">Наши автобусы</a>
                <a href="#" class="nav-link">Отзывы</a>
                <a href="#" class="nav-link">О компании</a>
        </nav>

        <div class="cabinet">
            <button class="button button-brown"></button>

            <div class="cabinet-icons">
                <a "href="#" target="_blank">
                    <svg class="cabinet-icon__telegram">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>

                <a "href="#" target="_blank">
                    <svg class="cabinet-icon__vk">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
