<header class="header">
    <div class="header-inner">
        <div class="header-logo">
            <img class="header-logo__img" src="../assets/images/logo_color.png" alt="#">
        </div>

        <nav class="nav">
                <a href="#" class="nav-link">Все туры</a>
                <a href="#" class="nav-link">Акции</a>
                <a href="#" class="nav-link">Наши автобусы</a>
                <a href="#" class="nav-link">Отзывы</a>
                <a href="#" class="nav-link">О компании</a>
        </nav>

        <div class="cabinet">
            <a href="#" class="button button--brown">Личный кабинет</a>

            <div class="cabinet-icons">
                <svg class="cabinet-icon">
                    <a href="#"><use xlink:href="#telegram"></use></a>
                </svg>

                
                <svg class="cabinet-icon">
                    <a href="#" target="_blank"><use xlink:href="#vk"></use></a>
                </svg>
            </div>
        </div>
    </div>
</header>
