.post-content{
    max-width: 845px;
    margin: 0 auto;
}

.post-content__block{
    margin-bottom: 5rem;

    &:last-child{
        margin-bottom: 0;
    }
}

.post-content__block-text{
    margin-top: 2rem;
}

.post-content__block-list{
    margin: 2rem 0 0 2rem;

    font-family: "S_B";
    font-size: 2rem;
    color: $lightBlack;

    list-style: disc;
}