.post-read__title{
    margin-bottom: 6.4rem;
}

.post-read__inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-read__item{
    width: 33%;

    padding-right: 3.2rem;

    &:last-child{
        padding-right: 0;
    }
}

.post-read__item-photo{
    img{
        width: 100%;
    }
}

.post-read__item-avtor{
    font-family: "I_R";
    font-size: 1.6rem;
    color: $black;
    font-weight: 700;

    margin: 3.2rem 0 1.6rem;
}  

.post-read__item-title{
    margin-bottom: 1.6rem;

    &:hover{
        text-decoration: underline;

        color: $black;
    }
}

.post-read__underline{
    width: 100%;
    height: 1px;
    background-color: $lightGray;
    opacity: .3;

    margin-top: 6rem;
}
    