.post-intro__inner{
    margin: 0 auto;

    max-width: 770px;
}

.post-intro__avtor{
    display: flex;
    align-items: center;
}

.post-intro__avtor-text__name{
    &:hover{
        text-decoration: underline;
    }
}

.post-intro__avtor-photo{
    margin-right: 1.6rem;
}

.post-intro__title{
    margin: 2rem 0 3rem;
}

.post-intro__category{
    display: flex;
    align-items: center;
}

.post__icon{
    height: 24px;
    width: 24px;

    margin-right: 0.8rem;
}