.category__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 4.8rem;
}

.category__item{
    cursor: pointer;

    width: 23%;

    padding: 3.2rem;

    border: 1px solid rgba(109, 110, 118, .3);

    transition: background $transitionTime linear, border $transitionTime linear;

    &:hover{
        background-color: $orange;
        border: 1px solid transparent;
    }
}

.category__title{
    margin: 1.6rem 0 .4rem;
}