 .contact-form{
    display: flex;
    flex-direction: column;
 }

.form-input{
    font-size: 1.6rem;
    font-family: "I_R";
    color: $black;

    border: 1px solid rgba(109, 110, 118, .5);

    padding: 2.4rem;
    margin-bottom: 1.6rem;

    &::placeholder{
        color: $black;
    }
}

.form-button{
    background-color: $orange;

    border: 0;

    font-size: 2.4rem;
    font-family: "S_B";
    color: $black;

    padding: 1.6rem 0;

    transition: background .2s linear;

    &:hover{
        background-color: darken($orange, 20%);
    }
}