.header{
    background-color: $black;
    
    padding: 1.2rem 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right{
    display: flex;
    align-items: center;
}