.home-about__inner{
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 9.6rem 8rem;

    background-color: $transPurple;

    &::before{
        position: absolute;
        top: -23px;
        right: 0;

        content: "";

        width: 80%;
        height: 23px;

        background-color: $orange;
    }

    &::after{
        position: absolute;
        top: -23px;
        right: 0;

        content: "";

        width: 25%;
        height: 23px;

        background-color: $purple;
    }
}

.home-about__left{
    padding-right: 3rem;
}

.home-about__left,
.home-about__right{
    max-width: 520px;
}

.home-about__left-title{
    margin: 2rem 0 1.2rem;
}

.home-about__left-text{
    margin-bottom: 1.6rem;
}

.home-about__left-link{
    font-family: "S_B";
    font-size: 1.8rem;
    color: $purple;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.home-about__right-title{
    margin: 2rem 0 1.2rem;
}